<div>
    <h1>Productos</h1>
    
    <div class="row">
        <div *ngFor="let item of data" >
            <h1>ID: {{item.id}}</h1>
            <p>Nombre: {{item.name}}</p>
            <p>descripcion: {{item.description}}</p>
            <div *ngFor="let categoria of item.categorias">
                <p>Categoria: {{categoria.name}}</p>
                <p>Descripcion categoria: {{categoria.description}}</p>
              </div>
            <hr>
        </div>
    </div>
</div>

<form [formGroup]="form" (ngSubmit)="addProduct()">
    <input type="text" formControlName="name" placeholder="Nombre">
    <input type="text" formControlName="description" placeholder="Descripción">
    <label *ngFor="let categoria of categorias">
        <input type="checkbox" [value]="categoria.id" (change)="onCheckboxChange($event)">
        {{categoria.name}}
    </label>
    <button type="submit">Agregar producto</button>
</form>

<form [formGroup]="deleteForm" (ngSubmit)="deleteProduct(deleteForm.get('id')?.value)">
    <input type="text" formControlName="id" placeholder="ID del producto">
    <button type="submit">Eliminar producto</button>
</form>






